@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

body, html {
    margin: 0; 
    padding: 0;
    font-family: Arial, sans-serif;
}


header, nav {
  background-color: #E4D9FF;
  margin: 0 auto;
  text-color: #fff;
  text-align: center;
  padding: 1px;
  margin: 10;
  width: 100%; 
  box-sizing: border-box;
}

#navigation {
  color: #fff;
  margin: 10px auto;
  text-align: center;
  width: 300px;
  list-style-type: none;
  border-style:outset;
  border-width:5px;
  border-color: #A675A1;
  border-block-color: #8f3985;
  border-radius: 40px 40px;
}

#n {
    display: inline-block; 
    margin-right: 35px; 
    text-color:#fff;
    font-weight:bold;
    font-size:13px;
    background-color: transparent !important;
}

a:not([href^="http"]) {
  color: #A675A1;
}

.container {
  display: flex;
}

.container::before {
  content: "Мои любимые предметы: ";
  font-size: 16px;
  font-weight:bold;
  
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
}

li:nth-child(even) {
  background-color: lightgray;
}

button:hover {
  background-color: lightblue;
}

p.highlight {
  color: blue;
}



footer {
  background-color: #273469;
  color: white;
  margin: 0; 
  padding: 0;
  width:100%;
  position: fixed;
  bottom: 0;
  
}
